<header class="header">
    <nav class="header-nav">

       <div class="nav-link dark-theme-toggle">
         <a>
           <span id="theme-toggle-icon" data-feather="moon"></span>
         </a>
       </div>

        <div class="nav-links">
            {{ range .Site.Menus.main }}
            <div class="nav-link">
                <a href="{{ .URL | absURL }}">
                    {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                </a>
            </div>
            {{ end }}

        </div>
    </nav>
</header>
